
<section>
  <div class='spacer-100'></div>
  <div class='row' >
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <p><strong>Name: </strong><%= @product.name %></p>
      <p><strong>Description: </strong><%= @product.description %></p>
      <p><strong>Tags: </strong><%= @product.tag_list %></p>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
    <div class='col-md-4'></div>
  </div>
</section>
